//header

header
  position relative
  width 100%
  height 90px
  background $black
  @media $tablet 
    height 110px
  @media $tablet 
    height 110px

  // logo

  img
    position absolute
    top 10px
    left 50%
    transform translateX(-50%)
    width 232px
    height 113px
    z-index 2
    @media $tablet
      top 12px
      left 10px
      transform none
    @media $desktop
      left 0

  // nav

  nav
    display none
    @media $tablet
      position absolute
      width 425px
      top 50%
      transform translateY(-15%)
      right 10px
      display block
      @media $laptop
        width 500px
      @media $desktop
        right 0
      ul
        margin 0
        padding 0
        width 100%
        list-style none
        li
          display inline
          margin-right 10px
          text-align center
          &:nth-child(6)
            margin-right 0
          a
            color $white
            text-decoration none
            transition all 0.2s ease-in-out
            &:hover
              color $yellow

  @media $laptop
    nav ul li
      margin-right 25px


