// body copy

body
  font 300 16px/24px 'Arial', sans-serif

// link copy

nav ul li a
  font 300 14px/22px 'Arial', sans-serif

// header copy

h1
  font italic 300 35px/43px 'Times New Roman', sans-serif

h2
  font italic 300 21px/25px 'Times New Roman', sans-serif
